<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <system.serviceModel>
        <services>
            <service name="HCS.WinService.HCSService">
                <endpoint address="BNA.FU.HCS/ConectorBrokerWCF" binding="netTcpBinding"
                    bindingConfiguration="ConectorBrokerWCFBinding" contract="BNA.FU.HCS.IConectorBrokerWCF" />
                <endpoint address="BNA.FU.HCS/ConectorBrokerWCF/mex" binding="mexTcpBinding"
                    bindingConfiguration="mexTcpBindingConfig" contract="IMetadataExchange" />
                <host>
                    <baseAddresses>
                        <add baseAddress="net.tcp://localhost/" />
                    </baseAddresses>
                </host>
            </service>
        </services>
		<bindings>
			<netTcpBinding>
				<binding name="ConectorBrokerWCFBinding"
                         maxReceivedMessageSize="2147483647"
                         maxBufferSize="2147483647"
                         maxBufferPoolSize="2147483647"
                         transferMode="Buffered">
					<readerQuotas
                        maxDepth="2147483647"
                        maxStringContentLength="2147483647"
                        maxArrayLength="2147483647"
                        maxBytesPerRead="2147483647"
                        maxNameTableCharCount="2147483647" />
					<!--security mode="Transport">
						<transport clientCredentialType="Windows" protectionLevel="EncryptAndSign" />
					</security-->
					<security mode="None" />
				</binding>
				<!--binding name="ConectorMQWCFBinding">
					<security mode="Transport">
						<transport clientCredentialType="Windows" protectionLevel="EncryptAndSign" />
					</security>
				</binding-->
			</netTcpBinding>

			<mexTcpBinding>
				<binding name="mexTcpBindingConfig" />
			</mexTcpBinding>
			
		</bindings>
        <behaviors>
            <serviceBehaviors>
                <behavior>
                    <serviceMetadata />
					<serviceDebug includeExceptionDetailInFaults="true" />
					<!--serviceThrottling
                        maxConcurrentCalls="1000"
                        maxConcurrentInstances="2000"
                        maxConcurrentSessions="1000" /-->
                </behavior>
            </serviceBehaviors>
        </behaviors>
    </system.serviceModel>
</configuration>